.layout2 {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 0.07fr;
  grid-template-columns: 0.07fr 1fr;
  grid-template-areas: 
    "navbar main"
    "footer footer";
  position: relative;
}

.left-side-navbar {
  grid-area: navbar;
  background-color: #104d27;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon{
  filter: brightness(0) invert(1);
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  gap: 1rem;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.left-side-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-side-navbar li {
  margin: 2rem 0;
}

.content2 {
  grid-area: main;
  padding: 2rem;
}

.footer {
  grid-area: footer;
  background-color: #104d27c0;
  color: white;
  text-align: center;
  padding: 1rem;
}