/*styling of everything related to layout2*/

.layout2 {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 0.07fr;
  grid-template-columns: 0.09fr 1fr; /*might need adjustment when doing @meadia for now laptop screeen ok with centering content vs navbar*/
  grid-template-areas: 
    "navbar main"
    "footer footer";
  position: relative;
}

.left-side-navbar {
  grid-area: navbar;
  background-color: #104d27;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  justify-content: flex-start; /* Align links at the top cant see anything!!!! */
  position: fixed;
  z-index: 5; /* Ensure navbar is above other elements */
  height: 100vh;
  left: 0;
  padding: 1rem;
}

.nav-icon{
  filter: brightness(0) invert(1);
  width: 35%;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  gap: rem;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.left-side-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-side-navbar li {
  margin: 1.5rem 0;
}

.help-icon-wrapper {
  position: relative;
}

.content2 {
  grid-area: main;
  padding: 2rem;
}

.footer {
  grid-area: footer;
  background-color: #104d27c0;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .layout2 {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "navbar"
      "main"
      "footer"; /* stack all areas */
  }

  .left-side-navbar {
    position: static; /*flows w/ layout*/
    width: 100%;
    height: 4rem;
    flex-direction: row;
    align-items: center; /* vertically center icons */
    padding: 0.5rem 0; /* adjust padding */
  }

  .left-side-navbar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; /* distribute items evenly */
  }

  .left-side-navbar li {
    margin: 0; /* remove large margin between items */
  }

  .sidebar-link {
    font-size: 0.9rem;
  }

  .nav-icon {
    width: 24px; /* smaller on mobile */
  }
  
  .content2 {
    padding: auto; /* adjust padding for mobile */
    margin: auto; /* add margin for spacing */
  }
}