.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; 
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 2rem;
  text-align: left;
}

.Date-table {
  background-color: #f4c57a;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.Date-text {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.study-planner-notice {
  background: #eeeeeee7;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.study-planner-notice h3 {
  text-align: center;
  margin-bottom: 10px;
}

.study-planner-notice p {
  margin: 5px ;
  

}

.study-events-list {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: scaleY(0.95);
  transition: all 0.4s ease;
  margin-bottom: 12px; 
}

.study-events-list.open {
  overflow-y: auto;         
  max-height: 480px;        
  padding-right: 10px;    
  margin-bottom: 12px;
  opacity: 0;
  transform: scaleY(0.95);
  transition: all 0.4s ease;
  opacity: 1;
  transform: scaleY(1);
}



.study-events-list.open {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
}


/* Style for the delete & event button */
.delete-btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* spacing between the two buttons */

}

.show-event-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  width: 100%;
  max-width: 180px;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

.show-event-btn {
  background-color: #45a049;
}

.delete-btn {
  background-color: rgb(255, 138, 71); 
  color: white; 
  font-size: 0.8rem; 
  width: 100%;
  max-width: 180px;
  padding: 0.6rem 1rem;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
  background-color: rgb(255, 94, 0); 
  transform: scale(1.05); 
}

.delete-btn:focus {
  outline: none; 
}

.delete-btn:active {
  background-color: #b71c1c;
  transform: scale(0.98);
}

@media (max-width: 768px) {
    h1 {
      font-size: 1.7rem;
    }
    
    .Date-table {
      margin: 1rem;
      padding: 4rem 2rem;
      margin-bottom: 80%;
    }

    .Date-text {
      font-size: 1.8rem;
      margin-top: 0;
    }

    .study-planner-notice {
      width: 90%;
      max-width: none;
      margin: 10px auto;
    }
  }