.login-form {
  padding: 2% 7%; 
  background-color: #eeeeee8f;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.login-form img.logoin {
  width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 6%;
  margin: 3%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-form input:first-of-type {
  margin-top: -5%;
}

.login-form button {
  margin: 4% 0;
  padding: 5%;
  width: 80%;
  background-color: #1b5638;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.login-form button:hover {
  background-color: #F39C12;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .login-form {
    max-width: 80%;
    padding: 3rem 2em 2rem;
    margin-top: 0%;
  }

  .login-form img.logoin {
    width: 60%;
  }

  .login-form h2 {
    font-size: 1.5rem;
  }

}